<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa - update entire page</title>
    <link 
    rel="stylesheet"
    href="/css/stylePSnewData.css">
</head>
<body>
    <form method="post" action="PS#">
        <div id="update-query-container">
            <div id="PS-sub-container">
                <div id="post-Message">
                    <label for="updateMessage" class="forAfter">Post Message</label>
                    <textarea id="updateMessage" placeholder="Enter the Post Content" name="content"></textarea>
                </div>
                <div id="post-img">
                    <label for="updatePostImg" class="forAfter">Post image url</label>
                    <input type="text" placeholder="Enter the img address" name="imgAddress" id="updatePostImg">
                </div>
                <button>Submit</button>
            </div>
        </div>
    </form>
    <script src="/js/scriptPSnewData.js"></script>
</body>
</html>