<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa create new post</title>
    <link
    rel="stylesheet"
    href="/css/stylePSnewData.css">
</head>
<body>
    <form method="post" action="http://localhost:333/PSx.com/posts">
        <div id="update-query-container">
            <div id="PS-sub-container">
                <div id="post-Message">
                    <label for="username" class="forAfter">username</label>
                    <input type="text" placeholder="Enter the user-id" name="username" id="username">
                </div>
                <div id="post-img">
                    <label for="postMessage" class="forAfter">Post Message</label>
                    <input type="text" placeholder="Enter the post message" name="postMessage" id="postMessage">
                </div>
                <div id="post-img">
                    <label for="profilePicPS" class="forAfter">Profile Pic</label>
                    <input type="text" placeholder="Enter the profile url" name="profilePicPS" id="profilePicPS">
                </div>
                <div id="post-img">
                    <label for="postImage" class="forAfter">Post image</label>
                    <input type="text" placeholder="Enter the Post url" name="postImage" id="postImage">
                </div>
                <button>Submit</button>
            </div>
        </div>
    </form>
    <script src="/js/scriptPSnewData.js"></script>
</body>
</html>