<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParvatiammaShivappa my ammaappa</title>
    <style>
        div[class="PSchild-2 icon"] {
            height : 6vh ;
            width : 5vw ;
            background-color : blue ;
        }
        div[class="PS-icon-1"] {
            height : 100% ;
            width : 6% ;
            background-color : #fff ;
            border : 0.6vh solid #000 ;
            transform : skewY(15deg) ;
            transform : rotate(-45deg) ;
            box-sizing : content-box ;
            margin : 3vh 0vh 0vh ;
            z-index : 3000 ;
        }
        div[class="PS-icon-2"] {
            height : 100% ;
            width : 0% ;
            border-left : 3px solid black ;
        }
    </style>
</head>
<body>
    <div id = "navBarEle">
        <nav>
            <div class="PSchild-1">
                <div class="PSchild-2 icon">
                    <div class="PS-icon-1"></div>
                    <div class="PS-icon-2"></div>
                </div>
                <div class="PSchild-2"></div>
                <div class="PSchild-2"></div>
            </div>
            <div class="PSchild-1"></div>
        </nav>
    </div>
    <div></div>
    <div></div>
</body>
</html>